<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/application.html}">
    <head>
        <meta charset="UTF-8">
        <title>Page analyzer</title>
    </head>
    <section layout:fragment="header">
        <div class="container-lg mt-5">
            <h1>Pages</h1>

            <table class="table table-bordered table-hover mt-3">
                <thead>
                <tr>
                    <th class="col-1">ID</th>
                    <th>Name</th>
                    <th class="col-2">Last check</th>
                    <th class="col-1">Response status code</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="url : ${urls}" th:object="${url}">
                    <td th:text="*{getId()}"></td>
                    <td>
                        <a th:href="@{/urls/{id}(id=*{getId()})}"
                           th:text="${#strings.abbreviate(url.getName(), 30)}"
                           style="color: #393E46">
                        </a>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>

            <nav aria-label="Page navigation" th:if="${#lists.size(pages)}">
                <ul class="pagination justify-content-center mt-5">
                    <li th:class="'page-item' + ${currentPage <= 1 ? ' disabled' : ''}">
                        <a class="page-link" th:href="@{/urls(page=${currentPage - 1},term=${term})}">Previous</a>
                    </li>
                    <li th:each="page : ${pages}" th:class="'page-item' + ${currentPage == page ? ' active' : ''}">
                        <a class="page-link" th:href="@{/urls(page=${page},term=${term})}" th:text="${page}"></a>
                    </li>
                    <li th:class="'page-item' + ${currentPage >= #lists.size(pages) ? ' disabled' : ''}">
                        <a class="page-link" th:href="@{/urls(page=${currentPage + 1},)}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
</html>